#backgroundimage {
   height: 100%;
   padding: 0;
   position: fixed;
   width: 100%;
   z-index: -1;
}

.button {
	padding: .75rem 3rem;
}

.button:first-child {
	margin-right: 1.5rem;
}


.controls {
	display: flex;
	justify-content: center;
}



/* ==================================== 
Navigation Component
==================================== */

.img-nav:hover {
	transform: skewY(-10deg);
}

.img-nav-left {
	width: 2rem;
	height: 2rem;
}

.img-nav-right {
	width: 2.5rem;
	height: 2.5rem;
}

.img-nav-right:hover {
	width: 8rem;
	height: 7rem;
}

.page-title {
	margin: 2rem 0;
	text-align: center;
	color: #FFF;
}

.top-bar, .top-bar ul {
	background-color: transparent; 
}

.top-bar .menu-text {
	color: white;
}

.menu > .menu-text > a {
	display: inline;
	padding: 0;
}

.top-bar .active-link {
	font-weight: bold;
}

/* ==================================== 
Clock Component
==================================== */

.ball {
	display: flex;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	position: relative;
	background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%); 
}

.ball:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
    filter: blur(5px);
    z-index: 2; 
}

.ball:after {
    content: "";
    position: absolute;
    display: none;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    filter: blur(1px);
    z-index: 2;
    transform: rotateZ(-30deg); 
}

.ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1; 
}
  
.ball.plain {
    background: black; 
}

.ball.plain:before, .ball.plain:after {
    display: none; 
}
  
.ball.bubble {
    background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
    animation: bubble-anim 2s ease-out infinite; 
}
    
.ball.bubble:before {
     -webkit-filter: blur(0);
     filter: blur(0);
     height: 80%;
     width: 40%;
     background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
     transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); 
 }
    
 .ball.bubble:after {
    display: block;
    background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); 
}

.stage {
  	width: 300px;
  	height: 300px;
  	display: inline-block;
  	margin: 20px;
  	-webkit-perspective: 1200px;
  	-moz-perspective: 1200px;
  	-ms-perspective: 1200px;
  	-o-perspective: 1200px;
  	perspective: 1200px;
  	-webkit-perspective-origin: 50% 50%;
  	-moz-perspective-origin: 50% 50%;
  	-ms-perspective-origin: 50% 50%;
  	-o-perspective-origin: 50% 50%;
  	perspective-origin: 50% 50%;
}

@-webkit-keyframes bubble-anim {
  	0% {
    	-webkit-transform: scale(1);
    	transform: scale(1); 
    }

  	20% {
    	-webkit-transform: scaleY(0.95) scaleX(1.05);
    	transform: scaleY(0.95) scaleX(1.05); 
    }

  	48% {
    	-webkit-transform: scaleY(1.1) scaleX(0.9);
    	transform: scaleY(1.1) scaleX(0.9); 
    }

  	68% {
    	-webkit-transform: scaleY(0.98) scaleX(1.02);
    	transform: scaleY(0.98) scaleX(1.02); 
    }

  	80% {
    	-webkit-transform: scaleY(1.02) scaleX(0.98);
    	transform: scaleY(1.02) scaleX(0.98); 
    }

  	97%, 100% {
    	-webkit-transform: scale(1);
    	transform: scale(1); 
    } 
}

@keyframes bubble-anim {
  	0% {
    	-webkit-transform: scale(1);
    	transform: scale(1); 
    }

  	20% {
    	-webkit-transform: scaleY(0.95) scaleX(1.05);
    	transform: scaleY(0.95) scaleX(1.05); 
    }

  	48% {
    	-webkit-transform: scaleY(1.1) scaleX(0.9);
    	transform: scaleY(1.1) scaleX(0.9); 
    }

  	68% {
    	-webkit-transform: scaleY(0.98) scaleX(1.02);
    	transform: scaleY(0.98) scaleX(1.02); 
    }

  	80% {
    	-webkit-transform: scaleY(1.02) scaleX(0.98);
    	transform: scaleY(1.02) scaleX(0.98); 
    }

  	97%, 100% {
    	-webkit-transform: scale(1);
    	transform: scale(1); 
    } 
}

.clock-text {
	align-items: center;
	color: #696969;
	display: flex;
	font-size: 2.25rem;
	font-weight: 300;
	justify-content: center;
	margin: 4rem auto;
}

/* ==================================== 
Clock Controls Component
==================================== */

.control-button {
  background: #000000;
  border: 17px dotted #ffffff;
  text-shadow: 0px -1px 1px #222222;
  box-shadow: 2px 2px 5px #000000;
  border-radius: 10px 10px 10px 10px;
  width: 8rem;
  padding: 1rem;
  cursor: pointer;
  margin: 3rem;
}

.control-button:active {
  cursor: pointer;
  position: relative;
  top: 2px;
}

#pause {
  color: #FFD700;
}

#reset {
  color: #B22222;
}

#start {
  color: #55FF55;
}

/* ==================================== 
Countdown Component
==================================== */

#countdown {
  margin-top: -1.5rem;
}

.countdown form {
  display: inline-block;
  font-size: 0px;
  margin: 50px auto 0;
  position: relative;
  z-index: 1;
  border: 17px dotted #ffffff;
  text-shadow: 0px -1px 1px #222222;
  box-shadow: 2px 2px 5px #000000;
  border-radius: 10px 10px 10px 10px;
  width: 24rem;
  height: 7rem;
  padding: 1.2rem;
}

.countdown input {
  border: 1px solid #444;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 2px 0 #000;
  color: #888;
  display: block;
  float: left;
  font-size: 0.9rem;
  font-weight: 400;
  height: 40px;
  margin-left: 15px;
  padding: 0 10px;
  text-shadow: 0 -1px 0 #000;
  width: 200px;
}

.countdown input:focus {
  animation: glow 800ms ease-out infinite alternate;
  background: #222922;
  background: linear-gradient(#333933, #222922);
  border-color: #393;
  box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
  color: #efe;
  outline: none;
}

.countdown button {
  background: #FFF;
  box-sizing: content-box;
  border: 1px solid #444;
  border-left-color: #000;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 2px 0 #000;
  color: #fff;
  display: block;
  float: left;
  font-size: 0.9rem;
  font-weight: 400;
  height: 38px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  position: relative;
  text-shadow: 0 -1px 0 #000;
  width: 80px;
} 

.countdown button:hover,
.countdown button:focus {
  background: #292929;
  background: linear-gradient(#393939, #292929);
  color: #55FF55;
  outline: none;
}

.countdown button:active {
  background: #292929;
  background: linear-gradient(#393939, #292929);
  box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
  top: 1px;
}

@keyframes glow {
    0% {
    border-color: #393;
    box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    } 
    100% {
    border-color: #6f6;
    box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}